@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'OpenSans', sans-serif;
  margin: 0;
  font-size: 20px;
}
a {
  color: #5334f5;
  font-weight: 600;
  text-decoration: none;
}

.Hero {
  height: 920px;
  background: white;
  background-size: cover;
  background-position: center;

}

.HeroGroup {
  max-width: 500px;
  margin: 0 auto;
  padding: 150px 50px;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  color: black;
  font-size: 80px;
  line-height: 1.2;
  padding: 200px 150px;
}

.Hero h2 {
  margin: 0;
  color: orange;
  font-size: 80px;
  line-height: 1.2;
  padding: 200px 150px;
}

.Hero p {
  font-size: 30px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}


hr {
  size: 100px;
  color: black; 
}
/* this hides the 3rd link if the width goes below 640px*/
@media (max-width: 640px) {
  .HeroGroup {
	padding: 100px 20px;
  }

  .Hero h1 {
	font-size: 40px;
  }

  .Hero p {
	font-size: 24px;
  }
}
